html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 12px;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row {
    margin: 0;
}

.btn-primary {
    color: #fff;
    background: #00acac;
    border-color: #00acac;
    width: 100%;
}

.m-t-20 {
    margin-top: 20px;
}

.title {
    text-align: center;
}

.form-control {
    font-size: 12px;
    height: 34px;
}

.form-check-label {
    padding-top: 3px;
}