html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 12px;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row {
    margin: 0;
}

.style-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-primary {
    color: #fff;
    background: #00acac;
    border-color: #00acac;
    width: 100%;
}

.control-label {
    font-weight: 600;
    color: #242a30;
    padding-top: 1rem;
}

.control-label {
    padding-left: 1rem;
}

.form-control {
    font-size: 12px;
    height: 34px;
}

.col-md-6 {
    padding-right: 0;
}

.col-md-12 {
    padding-right: 0;
}

.parsley-error {
    background: #fff!important;
    border-color: #ff5b57!important;
}

.parsley-errors-list.filled {
    opacity: 1;
}

.parsley-errors-list.filled {
    margin-top: 5px!important;
}

.parsley-errors-list {
    padding: 0!important;
    list-style-type: none!important;
    margin: 0!important;
    color: #e5603b;
    font-size: 12px!important;
    line-height: inherit!important;
}

#address {
    padding-top: 5px;
}

.btn-login {
    padding-left: 15px;
}

.form-check-label {
    padding-top: 3px;
}

.checkbox-remember {
    padding-left: 35px;
    padding-top: 1rem;
}

.m-t-20 {
    margin-top: 20px;
}

.p-l-15 {
    padding-left: 15px;
}

.title {
    text-align: center;
}